@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body, html{
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Gowun Dodum', sans-serif;
    background-image: url('bg.jpg');
    display: flex;
}

.carousel{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 800px;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
} 

/**********************************************/

.how-to{
    margin-top: 40px;
    flex: 0.8;
    margin-right: 50px;
    color: rgb(41, 38, 38);
}

button{
    background-color: transparent;
    border:1px solid rgb(41, 38, 38);
    color: rgb(41, 38, 38);
    padding: 7px 13px;
    border-radius: 5px;
    cursor: pointer;
}

.act{
    font-weight: 600;
}
